* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

/* HEADER */
.header {
    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.25);
    padding: 16px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-decoration: none;

}

.header__menu {
    display: flex;
    justify-content: center;
    margin: 0 auto 0 100px;
}

.header__menu-item {
    position: relative;
    margin-right: 44px;
}

.header__menu-item {
    color: #6C5CE7;
    font-size: 18px;

    transition:  all .3s;
}

.header__menu-item:hover {
    color: #312a69;
}

.header__menu-item::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #FDCB6E;
    border-radius: 50%;
    top: 8px;
    right: -27px;
}

.header__menu-item:last-child::after {
    display: none;
}

.header__sign-in {
    background-color: #6C5CE7;
    border-radius: 999px;
    color: white;
    font-size: 24px;
    font-weight: 700;

    padding: 22px 45px;
}

@media (max-width: 360px) {
    .header__logo-img {
        src:url(../imgs/logo-mobile.svg)
    }

    .header__menu {
        display: none;
    }

    .header__sign-in {
        border-radius: 8px;
        width: 128px;
    }
}

/* MAIN */
.main {
    background-image:url(../imgs/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 800px;

    margin-left: -170px;
}

.main__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    margin: 0 auto;
    padding-top: 80px;
    font-size: 96px;
    font-weight: 800;

    text-shadow: 0px 4px 0px #FFFFFF;

}

.main__title span {
    color: red;
}

.main__description{
    font-size: 64px;
    font-weight: 900;

    margin-top: 40px;
    text-align: center;
}

.main__text {
    margin-left: 50px;
}

/* DELIVERY */
.delivery {
    z-index: 1;
}

.delivery__title {
    font-size: 32px;
    font-weight: 700;

    margin-bottom: 15px;
}

.delivery__title-item {
    color: #6C5CE7;
}

.delivery__text {
    font-size: 24px;
    font-weight: 400;

    margin-bottom: 40px;
}

.delivery__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delivery__menu-item {
    width: 270px;
}

.delivery__menu-item--title {
    font-size: 24px;
    font-weight: 700;
    
    margin-top: 24px;
}

.delivery__menu-item--text {
    font-size: 18px;
    font-weight: 400;

    margin-top: 16px;
    margin-bottom: 8px;
}

.delivery__menu-item--btn {
    background-color: #fff;
    color: #6C5CE7;
    font-size: 18px;
    font-weight: 700;

    border: 1px solid grey;
    border-radius: 20px;

    padding: 18px 23px;
    margin-top: 18px;

    cursor: pointer;

}
