* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

/* HEADER */
.header {
    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.25);
    padding: 16px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-decoration: none;

}

.header__logo-mobile {
    visibility: hidden;
}

.header__menu {
    display: flex;
    justify-content: center;
    margin: 0 auto 0 100px;
}

.header__menu-item {
    position: relative;
    margin-right: 44px;
}

.header__menu-item {
    color: #6C5CE7;
    font-size: 18px;

    transition:  all .3s;
}

.header__menu-item:hover {
    color: #312a69;
}

.header__menu-item::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #FDCB6E;
    border-radius: 50%;
    top: 8px;
    right: -27px;
}

.header__menu-item:last-child::after {
    display: none;
}

.header__sign-in {
    background-color: #6C5CE7;
    border-radius: 999px;
    color: white;
    font-size: 24px;
    font-weight: 700;

    padding: 22px 45px;
    cursor: pointer;
    transition: all .3s;
}

.header__sign-in:hover {
    background-color: #463b9b;
}

/* MAIN */
.main {
    background-image:url(../imgs/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;

}

.main__title {
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    font-size: 96px;
    font-weight: 800;

    text-shadow: 0px 4px 0px #FFFFFF;

}

.main__title span {
    color: red;
}

.main__description{
    font-size: 64px;
    font-weight: 900;

    margin-top: 40px;
    text-align: center;
}

.main__btns {
    display: flex;
    justify-content: space-between;
}

.main__btns--more {
    color: #fff;
    font-size: 32px;
    font-weight: 700;

    margin-top: 96px;
    margin-left: 26px;
    padding: 20px 49px;

    background-color: #6C5CE7;
    border-radius: 999px;

    cursor: pointer;
    transition: all .3s;
}

.main__btns--more:hover {
    background-color: #463b9b;
}

.main__btns--multi {
    color: #2D3436;
    font-size: 22px;
    font-weight: 400;
    text-align: left;

    padding: 57px 10px 57px 35px;

    background-color: #55EFC4;
    border-radius: 999px;

    cursor: pointer;
    transition: all .3s;
}

.main__btns--multi:hover {
    background-color: #49caa5;
}

.main__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

/* DELIVERY */
.delivery {
    padding-top: 80px;
    padding-bottom: 80px;
}

.delivery__title {
    font-size: 32px;
    font-weight: 700;

    margin-bottom: 15px;
}

.delivery__title-item {
    color: #6C5CE7;
}

.delivery__text {
    font-size: 24px;
    font-weight: 400;

    margin-bottom: 40px;
}

.delivery__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delivery__menu-item {
    width: 270px;
}

.delivery__menu-item--title {
    font-size: 24px;
    font-weight: 700;
    
    margin-top: 24px;
}

.delivery__menu-item--text {
    font-size: 18px;
    font-weight: 400;

    margin-top: 16px;
    margin-bottom: 8px;
}

.delivery__menu-item--btn {
    background-color: #fff;
    color: #6C5CE7;
    font-size: 18px;
    font-weight: 700;

    border: 1px solid grey;
    border-radius: 20px;

    padding: 18px 23px;
    margin-top: 18px;

    cursor: pointer;

}

/* PRICING */
.pricing {
    padding-top: 74px;
    padding-bottom: 80px;
    /* height: 536px; */

    background-image: url(../imgs/Wiggle.svg);
    background-repeat: no-repeat;
    background-position-y: 660px;
    background-position-x: 735px;
}

.pricing__title {
    color: #2D3436;
    font-size: 64px;
    font-weight: 900;

    text-align: center;
    margin-bottom: 23px;
}

.pricing__text {
    text-align: center;
    color: #ADADAD;
    font-size: 32px;
    font-weight: 700;

    margin-bottom: 41px;
}

.pricing__text span:nth-child(1) {
    color: #6C5CE7;
}

.pricing__text span::before {
    content: '';
    height: 12px;
    width: 126px;
    border-radius: 99px;
    color: #FDCB6E;
}

.pricing__blocks {
    display: flex;
    justify-content: space-between;
    
}

.pricing__block {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */

    border-radius: 16px;

    padding: 32px;
}

.pricing__block:hover {
    box-shadow: 0px 8px 8px rgba(38, 50, 56, 0.12);
    box-shadow: 0px 16px 24px rgba(38, 50, 56, 0.08);
    background-color: #fff;
}

.pricing__block-text {
    color: #6C5CE7;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}

.pricing__block-title {
    color: #2D3436;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.pricing__block-title span {
    color: #2D3436;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 800;
}

.pricing__block-item {
    display: flex;
    justify-content: right;

    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 32px;
}

.pricing__block-item:last-child {
    margin-bottom: 0;
}

.pricing__block-item img {
    margin-right: 16px;
}

.pricing__btns {
    display: flex;
    justify-content: center;
}

.pricing__btn-try {
    color: #6C5CE7;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;

    border: 1px solid #ADADAD;
    border-radius: 16px;
    padding: 20px 103px;

    margin-top: 128px;
    
    cursor: pointer;
    transition: all .3s;
}

.pricing__btn-try:hover {
    background-color: rgb(235, 235, 235);
}

.pricing__btn-regular {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    background-color: #6C5CE7;


    border-radius: 16px;
    padding: 20px 60px;

    margin-top: 25px;

    cursor: pointer;
    transition: all .3s;
}

.pricing__btn-regular:hover {
    background-color: #463b9b;
}

.pricing__btn-extended {
    color: #6C5CE7;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;

    border: 1px solid #ADADAD;
    border-radius: 16px;
    padding: 20px 76px;

    margin-top: 70px;

    cursor: pointer;
    transition: all .3s;
}

.pricing__btn-extended:hover {
    background-color: rgb(235, 235, 235);
}


/* FOOTER */
/* .footer {
    background-image: url(../imgs/Wave.svg);
    background-repeat: no-repeat;
    
} */

.footer__inner {
    display: flex;
    justify-content: start;

    padding: 80px 0;
}

.footer__follow {
    width: 600px;
}

.footer__text {
    color: #ADADAD;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 2.5px;
}

.footer__share-menu {
    display: flex;

    margin-bottom: 40px;
    margin-top: 8px;
}

.footer__share-item {
    margin-right: 50px;

    cursor: pointer;
    transition: all .3s;
}

.footer__share-item:hover {
    background-color: #FFEAA7;
    border-radius: 99px;
    width: 40px;
    height: 40px;
}

.footer__info-menu {
    margin-top: 16px;
}

.footer__menu {
    display: flex;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px;

    color: #2D3436;
}

.footer__info-item {
    margin-right: 70px;

    margin-bottom: 16px;
    width: 140px;

}

.footer__info-item span {
    text-decoration-line: underline;
}

.footer__mail {
    color: #6C5CE7;
    font-size: 32px;
    font-weight: 700;
}

.footer__img {
    width: 100%
}

@media (max-width: 360px) {

    .container {
        max-width: 330px;
        margin: 0 auto;
    }

    .header__mobile {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    /* HEADER MOBILE */
    .header__burger {
        display: block;
        cursor: pointer;
    }

    .header__burger span {
        display: block;
        border: 2px solid #5C5C5C;
        width: 22px;
        border-radius: 5px;
        margin-bottom: 2px;
        margin-right: 15px;
    }

    .header__logo-mobile {
        visibility: visible;

    }

    .header__logo {
        display: none;
    }

    .header__menu {
        display: none;
    }

    .header__sign-in {
        border-radius: 8px;
        height: 40px;
        width: 128px;

        font-size: 18px;
        font-weight: 700;

        padding: 8px 30px;
    }

    /* MAIN MOBILE */
    .main {
        display: none;
    }

    /* DELIVERY MOBILE */
    .delivery {
        padding: 40px 0;
    }

    .delivery__title {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.25px;
        line-height: 36px;
        margin: 0 auto;

    }

    .delivery__title-img {
        visibility: hidden;
    }

    .delivery__text {
        margin: 22px auto;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 29px;
    }

    .delivery__menu {
        flex-wrap: wrap;

    }

    .delivery__menu-item {
        max-width: 150px;
    }

    .delivery__menu-item:nth-child(1),
    .delivery__menu-item:nth-child(2) {
        margin-bottom: 20px;
    }

    .delivery__menu-item img {
        width: 53px;
        margin-bottom: 18px;
    }

    .delivery__menu-item--title {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.1875px;
    }

    .delivery__menu-item--text {
        font-size: 13.5px;
        line-height: 24px;
        color: #5C5C5C;
    }

    .delivery__menu-item--btn {
        font-size: 13.5px;
        line-height: 24px;
        letter-spacing: 0.15px;
        width: 110px;
        border: 0.75px solid #ADADAD;
        border-radius: 12px;
        padding: 6px 0;
    }

    /* PRICING MOBILE */
    .pricing__title {
        font-size: 32px;
        font-weight: 700;
        text-align: start;

        margin-left: 15px;
    }

    .pricing__text {
        font-size: 24px;
        font-weight: 400;
        text-align: start;

        margin-left: 15px;
    }

    .pricing__text span {
        color: #ADADAD;
    }

    .pricing__text span:nth-child(2) {
        color: #2D3436;
    }

    .pricing__blocks {
        flex-wrap: wrap;
    }

    .pricing__block {
        margin-bottom: 24px;

        box-shadow: 0px 8px 8px rgba(38, 50, 56, 0.12);
        box-shadow: 0px 16px 24px rgba(38, 50, 56, 0.08);
        background-color: #fff;
    }

    .pricing__block-text {
        color: #2D3436;
    }

    .pricing__block-title {
        color: #6C5CE7;
    }

    .pricing__block-title span {
        color: #6C5CE7;
    }

    .pricing__block-item {
        font-size: 14px;
        font-weight: 500;
    }

    .pricing__block-item--icon {
        width: 24px;
    }

    .pricing__btn-try {
        background-color: #6C5CE7;
        color: #fff;

        font-size: 18px;

        padding: 17px 92px;
        width: 282px;
    }
}
